language: node_js
node_js:
- '8'
sudo: false
cache: yarn
branches:
  only:
    - "master"
script:
- echo "Skipping tests"
install:
- yarn
- yarn run generate
deploy:
  provider: heroku
  api_key:
    secure: UBMc+uwlpnRtwt17hyo4cRbpobsWF/bJmFlNdCnGNPFcQZqtemQfsPu6B0fEN6rMxj+thv6lfWmAmJVSok6D1x4hG218W+/08rygg2gGX/mmR6h16+7pdDVwdHp0uqqHC4lyfDy7PcTEFbk8kRcWEWaIoTownl2j1N0ttkcbLAE+v+S6Nbbs5+QoxEIvt8OmPH1l7uYaVhIWFCkJAXT5nH0EPaRZ1kaPlvslbkvDtogLrxJD2hO0B79bo62dI93a8t2ip5Z0N5fZiTWTbx6j3MF9pi7KnAgrzSuKwBsjxMnJOOqA8m2nKfgfIjfAB90CEJQI4MiDlb6WsvdF+cNENpl/MIXOeuWgio3rMZ4XCHBChUG9EqKcDaXivpkvudMBumcu6A1bAbzWEhWiNS1RhI2llkBOVAdBWhRyFxRLxUnPJlAbmP2/1WNRhW35TOZ5eB2P56Ii3GSilQKietXYzrca0QDTifN0wF6fJFdjfEn6c2KVJ/ky0nyp7B0gL6nkMMtJH+Byp+cDj55cl+6V2u9YckKU/ipciB8wdLLAnGmRmjrlTBFc7z1Eidz1QfRnSs6SaRhZwYEDnPJKs+5gR5gwtVWoCoJv6JuFV6PM+yVFNwGJ4Q9bDirfMiypTnYQ6VI4Bsbcqtfwrp1qkc0ceQ1WlJWlwCACmaLswRc/9qQ=
  app: washman-ng
